.vs/IA-Project/FileContentIndex/c6bb6d07-1558-4a6a-8539-b2ac94e84eb8.vsidx
.vs/IA-Project/config/applicationhost.config
.vs/IA-Project/FileContentIndex/194779d7-3adf-40bb-b66c-e0bd60f57a10.vsidx
.vs/IA-Project/v17/.suo
.vs/IA-Project/v17/DocumentLayout.backup.json
.vs/IA-Project/v17/DocumentLayout.json
